.profile {
  padding-top: 74px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 123px;
}

.profile__table {
  width: 100%;
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid #424242;
}

.profile__table-row:not(:last-child) > th,
.profile__table-row:not(:last-child) > td {
  padding-bottom: 16px;
}

.profile__table-row:last-child > th,
.profile__table-row:last-child > td {
  padding-top: 16px;
}

th {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

td {
  font-size: 11px;
  text-align: right;
}

.profile__actions {
  flex-direction: column;
  row-gap: 16px;
  padding-top: 50px;
  margin-top: auto;
}

.profile__logoutButton {
  color: var(--warning-color);
}

/* tablet */
@media (920px >= width > 480px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }
  .profile__title {
    margin-bottom: 96px;
  }
}

/* mobile */
@media (width <= 480px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .profile__title {
    margin-bottom: 80px;
    height: 29px;
  }
  .profile__table {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .profile__editButton,
  .profile__logoutButton {
    font-size: 12px;
  }
}