.movies-cards {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
}

.movies-card-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	gap: 34px 20px;
	list-style: none;
}

.movies-cards__load-more-block {
	margin-bottom: 19px;
	display: flex;
	justify-content: center;
}

.movies-cards__button {
	margin: 0;
	margin-top: 83px;
	margin-bottom: 80px;
	padding: 0;
	width: 320px;
	height: 36px;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	color: #FFF;
	border: 1px solid #424242;
	border-radius: 6px;
	background-color: transparent;
	align-items: center;
}

@media (max-width: 1139px) {
	.movies-card-list {
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media (max-width: 899px) {
	.movies-card-list {
		grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
		gap: 36px 30px;
	}
}

@media (max-width: 679px) {
	.movies-card-list {
		margin: 40px 10px 0 10px;
		gap: 39px;
	}

	.movies-cards__button {
		width: 240px;
	}
}

@media (max-width: 450px) {
	.movies-card-list {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}
}