.movies-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 79px;
}

.movies-card__list {
  margin: 0;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, minmax(1%, 1fr));
  grid-auto-rows: min-content;
  row-gap: 57px;
  column-gap: 30px;
  list-style: none;
  padding: 0;
}

.movies-card__more-btn {
  width: 100%;
  margin: 80px 0 0 0;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: white;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: color .2s ease-out;
}

.movies-card__more-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1160px) {
  .movies-card__list {
      align-self: center;
      max-width: 975px;
      grid-template-columns: repeat(2, minmax(1%, 1fr));
      row-gap: 47px;
      height: auto;
  }
}

@media screen and (max-width: 860px) {
  .movies-card__list {
      max-width: 708px;
      grid-template-columns: repeat(2, minmax(1%, 1fr));
      row-gap: 45px;
      overflow: hidden;
      height: auto;
  }
}

@media screen and (max-width: 648px) {
  .movies-card {
      align-items: center;
  }

  .movies-card__list {
      grid-template-columns: repeat(1, minmax(1%, 1fr));
      row-gap: 35px;
  }
}

@media screen and (max-width: 400px) {
  .movies-card {
      padding-top: 50px;
      align-items: center;
  }

  .movies-card__list {
      grid-template-columns: repeat(1, minmax(1%, 1fr));
      row-gap: 35px;
  }
}
