.register {
  display: flex;
  justify-content: center;
  padding: 70px 0 0 0;

}

@media (max-width: 783px) {
  .register {
    padding-top: 232px;
  }
}

@media (max-width: 450px) {
  .register {
    padding: 56px 30px 30px
  }
}