.loadMoreButton-wrapper {
  padding-top: 50px;
  padding-bottom: 80px;
  min-height: 140px;
}

.loadMoreButton {
  font-size: 12px;
  line-height: initial;

  flex-grow: 1;
  max-width: 320px;
  padding: 10px 60px;
  border-radius: 6px;
  border: 1px solid #424242;
  background-color: transparent;
}

/* tablet */
@media (920px >= width > 480px) {}

/* mobile */
@media (width <= 480px) {
  .loadMoreButton {
    padding: 10px 60px;
  }
}