:root {
  --body: #202020;
  --primary-color: #272727;
  --primary-accent-color: #3DDC84;
  --secondary-accent-color: #4285F4;
  --dark-accent-color: #303030;
  --secondary-color: #073042;
  --primary-text-color: #FFF;
  --secondary-text-color: #8B8B8B;
  --alter-text-color: #000;
  --black: #000;
  --white: #FFF;

  --warning-color: #EE3465;

  --z-1: 1;
  --z-2: 10;
  --z-3: 100;
  --z-4: 1000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  background-color: var(--body);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 0.2s, opacity 0.2s;
}

a:hover,
a:focus-within {
  opacity: 0.7;
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  vertical-align: middle;
}

ul {
  list-style-position: inside;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
}

/* GENERAL */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 70px;
  padding-left: 70px;
}

/* https://caniuse.com/css-media-range-syntax */

/* devices */
@media (width <= 920px) {
  .hideOnDevices {
    display: none;
  }
}

/* tablet */
@media (920px >= width > 480px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .container--sub {
    max-width: 920px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

/* mobile */
@media (width <= 480px) {
  .container {
    max-width: 100%;
    padding-right: 14px;
    padding-left: 14px;
  }
  .container--profile {
    padding-right: 30px;
    padding-left: 30px;
  }
  .container--register {
    padding-right: 30px;
    padding-left: 30px;
  }
  .container--sub {
    max-width: 480px;
    padding-right: 18px;
    padding-left: 18px;
  }
  .container--promo {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hideOnMobile {
    display: none;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
.btn {
  display: inline-block;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: border .2s linear,
    background-color .2s linear,
    box-shadow .1s,
    opacity 0.2s;
  color: var(--primary-text-color);
  font-weight: 500;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  box-shadow: 0 0 0 2px var(--secondary-color);
}

.btn--accent {
  color: var(--black);
  background-color: var(--primary-accent-color);
}

.btn--regular {
  font-weight: 400;
}